<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>
        <!-- form-->
        <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 88vh;">
            <div class="row col-12">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <label for="sign-in">
                        <h2>One-way ticket :</h2>
                    </label>

                        <form action="/result" class="sign-in d-flex align-items-center col-6" method="POST">
                            <input name="departureCity" type="text" class="form-control m-2"
                                placeholder="From : Paris, Marseille ...">
                            <input name="arrivalCity" type="text" class="form-control m-2"
                                placeholder="To : Lille, Nantes ...">
                            <input name="date" type="date" class="form-control m-2">
                            <button type="submit" class="btn btn-danger m-2">Go</button>
                        </form>

                    <img src="images/landmark.png" style="width: 250px; margin:70px">
                </div>
            </div>
        </div>
             <!-- footer -->
     <%- include('footer') %>
</body>