<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!-- navbar -->
    <%- include('navbar') %>
    <!-- form-->
        <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 88vh;">
            <div class="row col-12">
                <div class="d-flex justify-content-center">
                    <!-- SIGN UP AREA -->
                    <div class="col-2 d-flex flex-column m-4">
                        <label for="sign-in">
                            <h2 class="text-center">sign-in :</h2>
                        </label>
                        <form action="/users/sign-in" method="post" class="sign-in d-flex flex-column justify-content-center align-items-center">
                            <input name="mail" type="text" class="form-control mb-3" id="formGroupExampleInput"
                                placeholder="Email">
                            <input name="password" type="text" class="form-control mb-3" id="formGroupExampleInput2"
                                placeholder="Password">
                            <button type="submit" class="btn btn-danger w-40">Confirm</button>
                        </form>
                    </div>
                     <!-- SIGN IN AREA -->
                    <div class="col-2 d-flex flex-column m-4">
                        <label for="sign-in">
                            <h2 class="text-center">sign-up :</h2>
                        </label>
                        <form action="/users/sign-up" method="post" class="sign-in d-flex flex-column justify-content-center align-items-center">
                            <input name="lastname" type="text" class="form-control mb-3" id="formGroupExampleInput"
                                placeholder="Lastname">
                            <input name="firstname" type="text" class="form-control mb-3" id="formGroupExampleInput"
                                placeholder="Firstname">
                            <input name="mail" type="text" class="form-control mb-3" id="formGroupExampleInput"
                                placeholder="Email">
                            <input name="password" type="text" class="form-control mb-3" id="formGroupExampleInput2"
                                placeholder="Password">
                            <button type="submit" class="btn btn-danger w-40">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     <!-- footer -->
     <%- include('footer') %>
</body>