
<div>
<div class="float-start">
    <img src="../images/train.png" alt="">
</div>

<ul class="nav justify-content-end ">
    
    <li class="nav-item">
      <a class="nav-link active fw-bold text-danger" aria-current="page" href="#">Connection</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">My last trips</a>
    </li>
    
</ul>
</div>