<div class="color-navbar d-flex align-items-center justify-content-between">
    <div class="float-start m-4">
       <a href="/homepage"><img src="../images/train.png"  href="/home" alt=""></a><span class="name-site">Ticketac</span>
    </div>

    <ul class="nav justify-content-end  m-4">

        <li class="nav-item">
            <a class="nav-link active fw-bold text-danger" aria-current="page" href="/login">Connection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" style="color: black;" href="/last-trips">My last trips</a>
        </li>

    </ul>
</div>