body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(118,110,249);
  background: linear-gradient(0deg, rgba(118,110,249,1) 0%, rgba(0,212,255,1) 100%);
 
}
  
a {
  color: #00B7FF;
}

h2,h4{
  color : white;
}

h6{
  color:gray;
}

.error-page-style{
  margin-top: 100px;
}
.basket-page-style{
  margin-top: 100px;
}
.tab-style{
  margin-top: 20px;
}
/* HEADER */
.color-navbar{
  background-color: aliceblue;
  height: 100px;
  padding-top: 0px;
}

.name-site{
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
}

/* FOOTER */
.footer-text{
  text-align: center;
  color: azure;
}

/* ticket in result*/
.ticket{
  height: 120px;
  border-radius: 5px;
  padding: 30px;
}


/*Tableau des resultats page result*/
.resultTab{
  margin-top: 100px;
}
/* TAB */
.color-lastline{
  background-color: rgb(231, 175, 189);
}
